extends ../layouts/layout

block content
    div.row
        div.col-md-6.col-md-offset-3
            h1 Login
            if hasError
                div.alert.alert-danger
                    each message in messages
                        p= message
            form(action="/users/login", method="POST")
                div.form-group
                    label(for="email") Email
                    input(type="email", name="email", placeholder="Email...").form-control#email
                div.form-group
                    label(for="password") Password
                    input(type="password", name="password", placeholder="Password...").form-control#password
                input(type="hidden", name="_csrf", value=csrfToken)
                button(type="submit").btn.btn-primary Login